agent:
  nodeName: "{{ secret_manager_agent_node_name }}"
  trustedRoots:
  {% for root in secret_manager_trusted_roots %}
    - "{{ root }}"
  {% endfor %}

server:
  port: {{ secret_manager_port }}

logging:
  level: "{{ secret_manager_logging_level }}"
  format: "{{ secret_manager_logging_format }}"
  auditFile: "{{ secret_manager_logging_audit_file }}"

database:
  path: "{{ secret_manager_db_path }}"

security:
  tls:
    enabled: {{ secret_manager_tls_enabled }}
    certFile: "{{ secret_manager_tls_cert_file | default('') }}"
    keyFile: "{{ secret_manager_tls_key_file | default('') }}"
    clientCAFile: "{{ secret_manager_tls_client_ca_file | default('') }}"
  auth:
    method: "{{ secret_manager_auth_method }}"
    jwt:
{% if secret_manager_jwt_secret %}
        # This only renders if secret is NOT "" and NOT null
        secret: "{{ secret_manager_jwt_secret }}"
{% else %}
        # Fallback to IDP because secret was empty
        jwksUrl: "{{ secret_manager_jwt_jwks_url | mandatory }}"
        issuer: "{{ secret_manager_jwt_issuer | mandatory }}"
        audience: "{{ secret_manager_jwt_audience | mandatory }}"
{% endif %}